body {
    font-size: large;
    background-image: url(images/backgrounds/tiger.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    min-width: 100vw;
    margin: 0;
    position: fixed;
}

.container{
    font-size: larger;
    position: relative;
    flex: 3fr;
    max-width: 800px;
    height:100vh;
    max-height: 100vh;
    padding: 0px 30px 0px 30px;
    background-color: burlywood;
    overflow: scroll;
    overflow-x: hidden;

}
aside{
    color: burlywood;
    position: relative;
    max-width: 300px;
    flex: 1fr;
    height:100vh;
    max-height: 100vh;
    background-color: black;
    margin: 0 100px;
    padding: 30px 30px 0px 50px; /* top ? ? right */
    overflow: auto;
}
.aside-left{
    overflow: hidden;
}

.aside-right{
    overflow: scroll;
}